{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Summy's Blog{% endblock %}

{% block extracss %}
<link href="{% static 'css/usr_myself.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="resume effect">
        <div class="block1">
            <div class="block10">
            </div>
            <div class="block11">
                <img src="https://raw.githubusercontent.com/Adai0808/MarkdownPhotos/master/Res/user.png" width="130" height="140">
                <h1>周煜南</h1>
                <p>射频工程师 / Python开发者</p>
            </div>
            <div class="block12">
            </div>
            <div class="block13">
                <h1>关于我</h1>
                <p></p>
            </div>
        </div>
        <div class="block2">
            <div class="block20">
            </div>
            <div class="block21">
                <h3>毕业院校</h3>
                <p>华中科技大学</p>
                <h3>专业</h3>
                <p>微电子学与固体电子学</p>
                <h3>籍贯</h3>
                <p>浙江省兰溪市</p>
                <h3>电话</h3>
                <p>15527011768</p>
                <h3>邮箱</h3>
                <p>summychou@gmail.com</p>
                <h3>出生日期</h3>
                <p>1992.08.08</p>
            </div>
            <div class="block22">
                <div class="block221">
                </div>
                <div class="block222">
                    <div class="rectangle">
                    </div>
                    <div class="school">
                        <h3>2011-2015</h3>
                        <p>武汉理工大学</p>
                    </div>
                </div>
                <div class="block223">
                    <div class="rectangle">
                    </div>
                    <div class="school">
                        <h3>2015-2018</h3>
                        <p>华中科技大学</p>
                    </div>
                </div>
            </div>
            <div class="block23">
                <div class="block231">
                    <h1>教育经历</h1>
                </div>
                <div class="block232">
                    <p></p>
                </div>
                <div class="block233">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="block3">
            <div class="block30">
            </div>
            <div class="block31">
                <h2>我擅长的</h2>
                <p>C</p>
                <div class="progress">
                    <div class="progress-bar progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    70%</div>
                </div>
                <p>C++</p>
                <div class="progress">
                    <div class="progress-bar progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    70%</div>
                </div>
                <p>Python/Django</p>
                <div class="progress">
                    <div class="progress-bar progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                    85%</div>
                </div>
                <p>Matlab</p>
                <div class="progress">
                    <div class="progress-bar progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    80%</div>
                </div>
                <p>前端工具</p>
                <div class="progress">
                    <div class="progress-bar progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                    75%</div>
                </div>
            </div>
            <div class="block32">
            </div>
            <div class="block33">
            </div>
        </div>
    </div>
</div>
{% endblock %}
